<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c - %msg%n"/>
        </Console>

        <File name="FileLogger"
              fileName="logs/application.log">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %c - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>

</Configuration>